<!-- customer-edit.component.html -->
<div *ngIf="customerForm">
  <h2>Edycja Klienta</h2>
  <form [formGroup]="customerForm" (ngSubmit)="updateCustomer()">
    <table>
      <tr>
        <td><label for="id">ID:</label></td>
        <td><input type="text" id="id" formControlName="id" readonly /></td>
      </tr>
      <tr>
        <td><label for="pesel">PESEL:</label></td>
        <td><input type="text" id="pesel" formControlName="pesel" readonly /></td>
      </tr>
      <tr>
        <td><label for="name">Imię:</label></td>
        <td><input type="text" id="name" formControlName="name" /></td>
      </tr>
      <tr>
        <td><label for="surname">Nazwisko:</label></td>
        <td><input type="text" id="surname" formControlName="surname" /></td>
      </tr>
      <tr>
        <td><label for="age">Wiek:</label></td>
        <td><input type="number" id="age" formControlName="age" /></td>
      </tr>
    </table>
    <br /><br />
    <button type="submit">Zapisz zmiany</button>
  </form>
</div>
