<div class="container mt-4">
  <h2>Lista Klientów</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.name }}</td>
      <td>{{ customer.surname }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Usuń</button>
        <span class="mx-2"></span> <!-- Dodany większy odstęp -->
        <button class="btn btn-primary" [routerLink]="['/customers', customer.id, 'edit']">Edytuj</button>
        <span class="mx-2"></span> <!-- Dodany większy odstęp -->
        <button class="btn btn-info" [routerLink]="['/customers', customer.id]">Szczegóły</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="button-container mt-3">
    <button class="btn btn-success" routerLink="/add-customer">Dodaj nowego klienta</button>
  </div>
</div>
