<div *ngIf="customer">
  <h2>Customer Information</h2>

  <div>
    <span>ID:</span>
    <span>{{ customer.id }}</span>
  </div>

  <div>
    <span>PESEL:</span>
    <span>{{ customer.pesel }}</span>
  </div>

  <div>
    <span>Name:</span>
    <span>{{ customer.name }}</span>
  </div>

  <div>
    <span>Surname:</span>
    <span>{{ customer.surname }}</span>
  </div>

  <div>
    <span>Age:</span>
    <span>{{ customer.age }}</span>
  </div>
</div>

<div>
  <h2>Lista Zamówień</h2>
  <p><button [routerLink]="['/customers', customerId, 'add-order']">Dodaj nowe zamowienie</button></p>
  <table>
    <thead>
    <tr>
      <th>Nazwa Produktu</th>
      <th>Ilość</th>
      <th>Usun</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.productName }}</td>
      <td>{{ order.quantity }}</td>
      <td>
        <button (click)="deleteOrder(order.id)">Usuń</button>
      </td>
      <td>
        <button [routerLink]="['/orders', order.id, 'edit']">Edytuj</button>
      </td>
    </tr>
    </tbody>
  </table>
  <br/>
</div>

